$font-sans: system-ui !default;
$font-serif: Georgia, "Times New Roman", Times, serif !default;
$font-mono: "Courier New", Courier, monospace !default;

$rounded-md: 0.25rem !default;
$rounded-full: 9999rem !default;

$color-primary-500: 59 130 246 !default;

$color-error-500: 239 68 68 !default;

$color-gray-300: 203 213 225 !default;
$color-gray-500: 100 116 139 !default;
