$font-sans:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;
$font-mono: "Courier New", Courier, monospace;

$rounded-md: 0.25rem;
$rounded-full: 9999rem;

$color-primary-500: 59 130 246;

$color-error-500: 239 68 68;

$color-gray-300: 203 213 225;
$color-gray-500: 100 116 139;
